header {
	background: #FF0000;
	height: 70px;
	width: 100%;
	background: url(/images/logo.png);
	background-repeat: no-repeat;
	background-position: 20px;
	border-bottom: 1px;
	border-bottom: solid #CCCCCC;
}
