.filters {
	background-color: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.filters button {
        font-size: 18px;
        color: #FFFFFF;
        background: #FF5A5F;
        height: 48px;
        width: 20%;
        border-style: none;
        border-radius: 4px;
        vertical-align: center;
        margin-top: 8px;
        float:right;
        margin: 12px 30px;
}
.filters button:hover {
        opacity: 0.9;
}
