.places {
	vertical-align: top;
	text-align: left;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.place h1 {
	text-size: 30px;
	width: 20%;
	padding: 15px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

.places h2 {
	text-size: 30px;
	horizontal-align: middle;
}
