.filters {
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}


.locations {
	display: flex;
	display: inline-block;
	height: 100%;
	width: 25%;
	position: relative;
	border-right: 1px #DDDDDD;
}

.amenities {
	display: flex;
	display: inline-block;
	height: 100%;
	width: 25%;
	position: relative;
}

h3 {
	font-weight: 600;
	color: #484848;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	color: black;
}

.popover {
    background-color: #FAFAFA;
    color: #484848;
    width: 100%;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    display: block;
    visibility: hidden;
    z-index: 1;
    position: relative;
    margin-top: 17px;
}

.popover li {
    margin: 10px 50px;
}

.locations:hover .popover {
    display: block;
    visibility: visible;
}

.filters .amenities:hover .popover {
    display: block;
    visibility: visible;
}
